<div id="profile_col">
  <div id="profile_header">PROFILE</div>
  <div class="left_container">
    <div class="left_padding" style="position:relative">
      <div class="profile_pic" ng-mouseenter="changeImage = true;" ng-mouseleave="changeImage = false;">
        <button ng-show="!profile.profileImg" ng-click="changeavatar()" class="change_avatar" type="button" >Upload Avatar</button>
        <button ng-show="profile.profileImg && changeImage" ng-click="changeavatar()" class="change_avatar" type="button" >Change Avatar</button>
        <img ng-src="{{profile.profileImg || '<%= rootPath %>/images/160x160.gif' }}" width="165" height="165"/>
      </div>
      <div class="profile_xp">
        <span class="curr_level">Level {{profile.level || 1}}</span>
        <span class="to_level">{{profile.nextXP || 99}}XP to level</span>
      </div>
      <div class="xp_bar clearfix">
        <span class="xp_gained">
        </span>
        <span class="xp_remaining">
        </span>
      </div>
    </div>
  </div>
  <div class="right_container">
    <div class="right_padding">
      <p class="profile_name">{{profile.userName}}</p>
      <p class="bio_text">{{profile.bio}}</p>
      <textarea class="bio_txtarea hidden" rows="4" maxlength="400">Click here to add bio text
      </textarea>
      <div class="bio_opts_container hidden">
        <p class="bio_opts">400 remaining</p>
      </div>
      <div class="social_media">
        <a href="" ng-show="profile.fbConnect">Facebook Page</a>
      </div>
    </div>
  </div>
  <div id="people_container">
    <div id="people_header">
      <div ng-class="{'active_tab': people_tab==FOLLOW}" ng-click="people_tab=FOLLOW;" >{{profile.followers.length}} FOLLOWERS</div>
      <div ng-class="{'active_tab': people_tab==FRIEND}" ng-click="people_tab=FRIEND;" >0 FRIENDS</div>
      <div ng-class="{'active_tab': people_tab==FOLLOWERS}" ng-click="people_tab=FOLLOWERS;" >{{ profile.following.length }} FOLLOWING</div>
      <div class="view_all"><p class="view_all" ng-click="popGeneric()" href="#">View All</p></div>
    </div>
    <div class="bot_container">
      <a ng-show="people_tab==FOLLOW" ng-repeat="follower in profile.followers" href="/user/{{follower.userName}}">
        <img title="{{follower.userName}}" width="40px" height="40px" ng-src="{{follower.profileImg || '<%= rootPath %>/images/30x30.gif'}}"/>
      </a>
      <a ng-show="people_tab==FOLLOWERS" href="/user/test"><img title="test" width="40px" height="40px" src="{{following.image || '<%= rootPath %>/images/30x30.gif'}}"/></a>
    </div>
  </div>
  <div id="footer_container">
    <div id="profile_footer">
      <div ng-class="{'active_tab': content_tab==GROUPS}" ng-click="getGroupData(); content_tab=GROUPS">Groups</div>
      <div ng-class="{'active_tab': content_tab==LIKES}" ng-click="showLikes(); content_tab=LIKES" >Liked Posts</div>
      <div ng-class="{'active_tab': content_tab==ACTIVITY}" ng-click="showActivity(); content_tab=ACTIVITY;">Activity</div>
    </div>
  </div>
</div>
<div id="timeline_col">
  <div id="timeline_header" ng-click="timelineTabClicked='none'">TIMELINE</div>
  <div ng-switch on="timelineTabClicked" id="timeline_contents_container">
    <ul ng-switch-when="none" id="timeline_events" >
      <li  ng-repeat="event in notificationsDummyData.followersData.concat(notificationsDummyData.tagsData) | orderBy:'time':true">
        {{event.name}} and {{event.action || event.target}}
      </li>
    </ul>
    <ul ng-switch-when="followers" id="timeline_events">
      <li ng-repeat="followerEvent in notificationsDummyData.followersData">
        {{followerEvent.name}} is {{followerEvent.action}}
      </li>
    </ul>
    <ul ng-switch-when="tags" id="timeline_events">
      <li ng-repeat="tagEvent in notificationsDummyData.tagsData">
        {{tagEvent.name}} pinned to {{tagEvent.target}}
      </li>
    </ul>
    <ul ng-switch-when="comments" id="timeline_events">
      <li ng-repeat="commentEvent in notificationsDummyData.messagesData">
        {{commentEvent.name}} commented
      </li>
    </ul>
  </div>
  <div id="timeline_footer_container">
    <div id="timeline_footer">
      <div>
        <img ng-click="timelineTabClicked='followers'" class="new_followers" src="<%= rootPath %>/images/UI/Following1_effects.png" width="35" height="35"/>
      </div>
      <div>
        <img ng-click="timelineTabClicked='tags'" class="new_tags" src="<%= rootPath %>/images/UI/Tagged1_effects.png" width="35" height="35"/>
      </div>
      <div>
        <img ng-click="timelineTabClicked='comments'" class="new_messages" src="<%= rootPath %>/images/UI/Comment1_effects.png" width="35" height="35"/>
      </div>
    </div>
  </div>
</div>
<div id="badge_col">
  <div id="badge_header">BADGES</div>
  <ul class="badge_chest">
    <li ng-repeat="badge in profileDummyData.badges">
      <img ng-src="{{badge.url}}">
    </li>
  </ul>
  <div class="view_all_footer"><p ng-click="popGeneric()" href="#">View All</p></div>
</div>
<div id="profile_data">
  <div id="group_bar" class="clearfix" ng-show="displayMode.group">
    <span class="group_slice" ng-repeat="group in groupList" ng-click="showGroup(group)">{{group}}</span>
  </div>
  <div id="profile_data_inner" class="clearfix">
    <div ng-repeat="pin in showPins" class="game_pin" profile-masonry>
      <a class="view_trigger" ng-click="viewBigPin(pin)">
        <img class="game_img" ng-src="{{pin.sourceUrl}}" width="220"/>
      </a>
      <div class="pin_footer">
        <p class="game_description">{{pin.description}}</p>
        <p class="game_attributes">
          <span>{{pin.likedBy.length}} likes</span>&nbsp;&nbsp;<span>{{pin.comments.length}} comments</span>
        </p>
      </div>
    </div>
  </div>
</div>