<div id="subnav_content">
  <a href="#">Following</a>
  <div class="dropdown_tab">
    <a class="dropdown-toggle" data-toggle="dropdown" href="About.html">
      Categories
      <b class="caret"></b>
    </a>
      <ul class="dropdown-menu two_col_dropdown">
        <div class="col1">
          <li>
            <a href="#" ng-click="catSearch('Casino')"><img src="<%= rootPath %>/images/genre1.png" width="22" height="22">Casino</a>
          </li>
          <li>
            <a href="#" ng-click="catSearch('Casual')"><img src="<%= rootPath %>/images/genre2.png" width="22" height="22">Casual</a>
          </li>
          <li>
            <a href="#" ng-click="catSearch('Shooter')"><img src="<%= rootPath %>/images/genre3.png" width="22" height="22">Shooter</a>
          </li>
          <li>
            <a href="#" ng-click="catSearch('Action')"><img src="<%= rootPath %>/images/genre4.png" width="22" height="22">Action</a>
          </li>
          <li>
            <a href="#" ng-click="catSearch('Simulation')"><img src="<%= rootPath %>/images/genre5.png" width="22" height="22">Simulation</a>
          </li>
          <li>
            <a href="#" ng-click="catSearch('Racing')"><img src="<%= rootPath %>/images/genre6.png" width="22" height="22">Racing</a>
          </li>
          <li>
            <a href="#" ng-click="catSearch('Puzzle')"><img src="<%= rootPath %>/images/genre7.png" width="22" height="22">Puzzle</a>
          </li>
          <li>
            <a href="#" ng-click="catSearch('Fighting')"><img src="<%= rootPath %>/images/genre8.png" width="22" height="22">Fighting</a>
          </li>
          <li>
            <a href="#" ng-click="catSearch('Social')"><img src="<%= rootPath %>/images/genre9.png" width="22" height="22">Social</a>
          </li>
          <li>
            <a href="#" ng-click="catSearch('Space')"><img src="<%= rootPath %>/images/genre10.png" width="22" height="22">Space</a>
          </li>
        </div>
        <div class="col2">
          <li>
            <a href="#" ng-click="catSearch('Horror')"><img src="<%= rootPath %>/images/genre1.png" width="22" height="22">Horror</a>
          </li>
          <li>
            <a href="#" ng-click="catSearch('Strategy')"><img src="<%= rootPath %>/images/genre2.png" width="22" height="22">Strategy</a>
          </li>
        </div>
    </ul>
  </div>
  <a href="#">Popular</a>
  <a href="/store">Store</a>
</div>
<div class="register_now" ng-show="!loggedIn">
  <div class="register_inner">
    <img ng-click="promptRegister()" src="<%= rootPath %>/images/UI/JoinQ_noeffects.png" />
    <p id="register_btn">Register with Quyay now!</p>
  </div>
</div>