<!-- Front Pin Enlarged Modal -->
<div class="modal hide fade" id="gamePinModal">
  <div class="modal-header clearfix">
    <a href="#"><img class="profile_img_top" ng-src="{{ bigPin.profileImg }}"/></a>
    <button ng-show="bigPin.followBtn" ng-click="follow(bigPin.posterName)" class="follow"  type="button">Follow</button>
    <p class="poster"><a href="#">{{bigPin.posterName}}</a></p>
    <p class="date_posted">Posted {{bigPin.datePosted}} onto {{bigPin.category}}</p>
  </div>
  <!-- test -->
  <hr>
  <div class="modal-body">
    <div class="view_metadata">
      <p class="game_title"><a href="#">{{ bigPin.gameName }}</a></p>
      <p ng-show="bigPin.publisher" class="game_publisher">by <a href="#">{{ bigPin.publisher }}</a></p>
    </div>
    <div class="view_img_container">
      <!--<div ng-show="bigPin.videoEmbed" class="view_vid">
      </div>
      <a ng-show="!bigPin.videoEmbed" href="#"><img class="view_img" ng-src="{{bigPin.imageUrl}}"/></a>-->
      <a ng-show="(bigPin.imageUrl || bigPin.sourceUrl) && !bigPin.videoEmbed" href="#">
        <img class="view_img" ng-src="{{bigPin.imageUrl || bigPin.sourceUrl}}"/>
      </a>
      <div ng-show="bigPin.videoEmbed && bigPin.sourceUrl" class="view_vid">
      </div>
    </div>
    <div class="view_comment_container">
      <div class="pin_description">
        <p> {{bigPin.description}} </p>
      </div>
      <div ng-repeat="cmt in bigPin.comments" class="view_comment">
        <a href="#"><img ng-src="{{cmt.posterImg || '/images/30x30.gif' }}" class="profile_img"/></a><p 
        class="view_post_text"><b>{{cmt.posterName}}</b><br/>{{cmt.content}}</p>
      </div>
      <div class="view_respond clearfix">
        <a href="#"><img ng-src="{{userImg}}" class="profile_img"/></a>
        <textarea ng-click="showRespond = true" class="view_respond_txtarea" placeholder="Post comment" tabindex="" ng-model="big_text"></textarea>
        <button ng-show="showRespond" ng-click="addBigComment(big_text, bigPin.index); showRespond = false;" class="view_respond_btn" type="button">Comment</button>
      </div>
    </div>
    <hr>
  </div>
</div>

<!-- Store Pin Modal -->
<!--<div class="modal hide fade" id="storePinModal">
  <div class="modal-header clearfix">
    <a href="#"><img class="profile_img" src="<%= rootPath %>/images/game_images/gameloft_logo.jpg" width="50"/></a>
    <button class="follow" type="button">Download</button>
    <p class="poster"><a href="#">The Dark Knight Rises</a></p>
    <p class="date_posted">By <a href="">Gameloft</a></p>
  </div>
  <hr>
  <div class="modal-body">
      <div class="view_tags">
      <p><a href="#"><span>#simulation</span></a>
      <a href="#"><span>#food</span></a>
      <a href="#"><span>#cooking</span></a></p>
    </div>
    <div class="view_img_container">
      <a href="#"><img class="view_img" src="<%= rootPath %>/images/game_images/Gun-Bros-screenshot.png"/></a>
    </div>
    <div class="view_comment_container">
      <p> Risen from the ashes, the Dark Knight returns in this action packed sequel to destroy
       the criminals that threaten Gotham City.  Play as Batman, Catwoman, and even the villain Bane himself</p>
    </div>
    <hr>
  </div>
  <ul class="share_list">
    <li class="share_element"><button type="button">Facebook</button></li>
    <li class="share_element"><button type="button">Twitter</button></li>
    <li class="share_element"><button type="button">Share</button></li>
    <li class="share_element"><button type="button">G+</button></li>
    <li class="share_element"><button type="button">Report Pin</button></li>
  </ul>
  <div class="tabbable">
    <ul class="nav nav-tabs">
      <li class="active video_tab"><a target="_self" href="#video_content" data-toggle="tab">Videos</a></li>
      <li class="pin_tab"><a target="_self" href="#pin_content" data-toggle="tab">Pins</a></li>
      <li class="friends_tab"><a target="_self" href="#friends_content" data-toggle="tab">Friends playing</a></li>
    </ul>
    <div class="tab-content img_container">
      <div class="tab-pane active" id="video_content">
        <div class="vid_container">
          <embed id="playerid" width="500px" height="400px" allowfullscreen="true"
            allowscriptaccess="always" quality="high" bgcolor="#000000" name="playerid" style=""
            src="http://www.youtube.com/v/WqlPgRMmS9U?enablejsapi=1&version=3&playerapiid=ytplayer"
            type="application/x-shockwave-flash">
        </div>
      </div>
      <div class="tab-pane" id="pin_content">
        <a href=""><img src="<%= rootPath %>/images/50x50.gif"/></a><a href=""><img src="<%= rootPath %>/images/50x50.gif"/></a>
        <a href=""><img src="<%= rootPath %>/images/50x50.gif"/></a><a href=""><img src="<%= rootPath %>/images/50x50.gif"/></a>
        <a href=""><img src="<%= rootPath %>/images/50x50.gif"/></a><a href=""><img src="<%= rootPath %>/images/50x50.gif"/></a>
        <a href=""><img src="<%= rootPath %>/images/50x50.gif"/></a><a href=""><img src="<%= rootPath %>/images/50x50.gif"/></a>
      </div>
      <div class="tab-pane" id="friends_content">
        <a><img src="<%= rootPath %>/images/50x50.gif"/></a><a><img src="<%= rootPath %>/images/50x50.gif"/></a><a><img src="<%= rootPath %>/images/50x50.gif"/></a><a><img src="<%= rootPath %>/images/50x50.gif"/></a>
      </div>
    </div>
  </div>
</div>-->

<!-- Log In Modal -->
<div class="modal hide" id="loginModal" >
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
    <h3 id="myModalLabel">Log in to Quyay</h3>
  </div>
  <div class="modal-body">
    <form id="loginForm">
      <!--<p class="error" >Error: Somewhat set us up the bomb!</p>-->
      <div class="modal_stack login_option">
        <a target="_self" href="/auth/facebook"><button type="button" class="fb_login_btn" >Log in with Facebook</button></a>
      </div>
      <div class="modal_stack edit_field">
        <label for="login_email" >Email</label>
        <input id="login_email" ng-model="login.email" type="email" ></input>
      </div>
      <div class="modal_stack edit_field">
        <label for="login_password">Password</label>
        <input id="login_password" ng-model="login.password" type="password" ></input>
      </div>
      <div class="modal_stack login_option">
        <button class="q_login_btn" ng-click="loginsubmit(); log('fuck');">Sign in</button>
      </div>
    </form>
  </div>
</div>

<!-- Register Modal -->
<div class="modal hide" id="registerModal" >
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
    <h3 id="myModalLabel">Register with Quyay</h3>
  </div>
  <div class="modal-body">
    <form>
      <p style="color:red;">{{status}}</p>
      <div class="modal_stack edit_field">
        <a target="_self" href="/auth/facebook"><button type="button" class="fb_register">Register via Facebook</button></a>
      </div>
      <div class="modal_stack edit_field">
        <label for="register_email" >Email</label>
        <input id="register_email" ng-model="register.email" type="email" ></input>
      </div>
      <div class="modal_stack edit_field">
        <label for="register_username" >Username</label>
        <input id="register_username" ng-model="register.name" type="text" ></input>
      </div>
      <div class="modal_stack edit_field">
        <label for="register_password" >Password</label>
        <input id="register_password" ng-model="register.password" type="password" ></input>
      </div>
      <div class="modal_stack edit_field">
        <label for="register_confirm" >Confirm</label>
        <input id="register_confirm" ng-model="register.confirm" type="password" ></input>
      </div>
      <div class="modal_stack edit_field">
        <button class="q_register_btn" ng-click="registerSubmit()">Register</button>
      </div>
    </form>
  </div>
</div>

<!-- Register Step 2: Upload Photo -->
<div class="modal hide" id="registerModal_2" >
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
    <h3 id="myModalLabel">Upload Avatar Image</h3>
  </div>
  <div class="modal-body">
      <p style="color:red;">{{status}}</p>
      <form id="uploadAvatar" class="clearfix" action="/api/uploadAvatar" method="post" enctype="multipart/form-data">
        <div id="profileUpload" class="modal_stack fileupload fileupload-new" data-provides="fileupload">
          <div class="fileupload-preview thumbnail"></div>
          <span class="btn btn-file">
            <span class="fileupload-new">Select image</span>
            <span class="fileupload-exists">Change</span>
            <input name="image" type="file" />
          </span>
          <a href="#" class="btn fileupload-exists" data-dismiss="fileupload">Remove</a>
        </div>
        <!-- Triggers an Angular AJAX call -->
        <div class="modal_slice profileImg_skip">
          <a href="/register" target="_self"><button type="button">Skip</button></a>
        </div>
        <!-- JQuery intercepts submit, due to complexity of file upload -->
        <div class="modal_slice profileImg_submit">
          <button>Submit</button>
        </div>
      </form>
  </div>
</div>

<!-- change avatar image via profile page -->
<div class="modal hide" id="changeAvatar" >
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
    <h3 id="myModalLabel">Upload Avatar Image</h3>
  </div>
  <div class="modal-body">
      <p style="color:red;">{{status}}</p>
      <form id="changeAvatarForm" class="clearfix" action="/api/changeAvatar" method="post" enctype="multipart/form-data">
        <div id="profileUpload" class="modal_stack fileupload fileupload-new" data-provides="fileupload">
          <div class="fileupload-preview thumbnail"></div>
          <span class="btn btn-file">
            <span class="fileupload-new">Select image</span>
            <span class="fileupload-exists">Change</span>
            <input name="image" type="file" />
          </span>
          <span class="btn fileupload-exists" data-dismiss="fileupload">Remove</span>
        </div>
        <!-- JQuery intercepts submit, due to complexity of file upload -->
        <div class="modal_slice profileImg_submit">
          <button>Submit</button>
        </div>
      </form>
  </div>
</div>

<!-- Facebook Register Modal -->
<div class="modal hide" id="fbRegisterModal" >
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
    <h3 id="myModalLabel">Register with Quyay via facebook</h3>
  </div>
  <div class="modal-body">
    <form class="form-horizontal">
      <p style="color:red;">{{status}}</p>
      <br>
      <div class="control-group">
        <label class="control-label" for="inputEmail">Email</label>
        <div class="controls">
          <input ng-model="register.email" type="email" id="inputEmail" placeholder="Email">
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="inputUsername">Username</label>
        <div class="controls">
          <input ng-model="register.name" type="text" id="inputUsername" placeholder="Username">
        </div>
      </div>
      <p> {{register.email}} : {{register.name}} : {{register.password}} : {{register.confirm}}</p>
      <div class="control-group">
        <div class="controls">
          <button class="btn" ng-click="registerSubmit()">Register</button>
        </div>
      </div>
    </form>
  </div>
</div>

<!-- Generic Modal -->
<div class="modal hide" id="genericModal" >
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
    <h3 id="myModalLabel">Generic Header</h3>
  </div>
  <div class="modal-body">
    <div class="modal_stack">Generic Body</div>
  </div>
</div>

<!-- Post GamePin Modal -->
<div class="modal hide" id="postModal" >
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
    <h3 id="myModalLabel">Post to Quyay</h3>
  </div>
  <div class="modal-body">
    <div ng-click="popImageUrl()" class="modal_slice post_option">
      <img src="<%= rootPath %>/images/image.png" />
      <p>Image via URL<p>
    </div>
    <div ng-click="popFileUpload()" class="modal_slice post_option">
      <img src="<%= rootPath %>/images/upload.png" />
      <p>File Upload</p>
    </div>
    <div ng-click="popYoutubeUrl()" class="modal_slice post_option_end">
      <img src="<%= rootPath %>/images/video.png" />
      <p>Youtube URL</p>
    </div>
  </div>
</div>
<!-- imageUrl Modal -->
<div class="modal hide" id="imageUrlModal" >
  <div class="modal-header"> 
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
    <h3 id="myModalLabel">Post Image via URL</h3>
  </div>
  <div class="modal-body">
    <form id="imageUrlForm">
      <div class="modal_stack">
        <button class="get_image btn" type="button">Get Image</button>
        <input class="urlInput" type="text" placeholder="https://www.google.com/images/srpr/logo4w.png" required></input>
      </div>
      <div class="modal_slice fileupload fileupload-new" data-provides="fileupload">
        <div class="fileupload-preview thumbnail"></div>
      </div>
      <div class="modal_slice uploadMeta">
        <input type="text" name="name" placeholder="Game Name" required>
        <input type="text" name="publisher" placeholder="Publisher">
        <textarea type="text" name="description" placeholder="Description" required></textarea>
        <div class="cat_select">
          <p>Category:</p>
          <select name="category" required>
            <option value="Action & Adventure" >Action & Adventure</option>
            <option value="Arcade" >Arcade</option>
            <option value="Board & Card" >Board & Card</option>
            <option value="Arcade" >Casino & Gambling</option>
            <option value="Educational" >Educational</option>
            <option value="Family & Kids" >Family & Kids</option>
            <option value="Music & Rhythm" >Music & Rhythm</option>
            <option value="Puzzle" >Puzzle</option>
            <option value="Racing" >Racing</option>
            <option value="Role Playing" >Role Playing</option>
            <option value="Simulation" >Simulation</option>
            <option value="Sports" >Sports</option>
            <option value="Strategy" >Strategy</option>
            <option value="Trivia & Word">Trivia & Word</option>
          </select>
        </div>
        <!--<div class="custom_group" ng-disabled="!custom" ng-click="custom=true">
          <p>Custom:</p>
          <input type="text" />
        </div>-->
        <input class="fileSubmit" value="Post It!" type="submit">
      </div>
    </form> 
  </div>
</div>

<!-- fileUpload  -->
<div class="modal hide" id="fileUploadModal" >
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
    <h3 id="myModalLabel">Upload Image from Device</h3>
  </div>
  <div class="modal-body">
    <form id="uploadForm" class="clearfix" action="/api/gamepin/postImageUpload" method="post" enctype="multipart/form-data">
      <div class="modal_slice fileupload fileupload-new" data-provides="fileupload">
        <div class="fileupload-preview thumbnail"></div>
        <span class="btn btn-file">
          <span class="fileupload-new">Select image</span>
          <span class="fileupload-exists">Change</span>
          <input name="image" type="file" required/>
        </span>
        <a href="#" class="btn fileupload-exists" data-dismiss="fileupload">Remove</a>
      </div>
      <div class="modal_slice uploadMeta">
        <label ng-show="IEforms">Game Name</label><input  type="text" name="name" placeholder="Game Name" required>
        <label ng-show="IEforms">Publisher</label><input type="text" name="publisher" placeholder="Publisher">
        <label ng-show="IEforms">Description</label>
        <textarea type="text" name="description" placeholder="Description" required></textarea>
        <div class="cat_select">
          <!--<p>Custom Category</p>
          <input type="text">-->
          <p>Category:</p>
          <select name="category" required>
            <option value="Action & Adventure" >Action & Adventure</option>
            <option value="Arcade" >Arcade</option>
            <option value="Board & Card" >Board & Card</option>
            <option value="Casino & Gambling" >Casino & Gambling</option>
            <option value="Educational" >Educational</option>
            <option value="Family & Kids" >Family & Kids</option>
            <option value="Music & Rhythm" >Music & Rhythm</option>
            <option value="Puzzle" >Puzzle</option>
            <option value="Racing" >Racing</option>
            <option value="Role Playing" >Role Playing</option>
            <option value="Simulation" >Simulation</option>
            <option value="Sports" >Sports</option>
            <option value="Strategy" >Strategy</option>
            <option value="Trivia & Word">Trivia & Word</option>
          </select>
        </div>
        <input class="fileSubmit" value="Post It!" type="submit">
        <!--<a id="cdnUrl" >View Image on Rackspace</a>-->
      </div>
    </form>
  </div>
</div>


<!-- youTube Modal -->
<div class="modal hide" id="youtubeModal" >
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
    <h3 id="myModalLabel">Post Video via Youtube</h3>
  </div>
  <div class="modal-body">
    <form id="youtubeUrlForm">
      <div class="modal_stack">
        <button class="btn get_video" type="button">Get Video</button>
        <input class="urlInput" type="text" placeholder="https://www.google.com/images/srpr/logo4w.png" required>
      </div>
      <div class="modal_slice fileupload fileupload-new" data-provides="fileupload">
      </div>
      <div class="modal_slice uploadMeta">
        <input type="text" name="name" placeholder="Game Name" required>
        <input type="text" name="publisher" placeholder="Publisher">
        <textarea type="text" name="description" placeholder="Description" required></textarea>
        <div class="cat_select">
          <p>Category:</p>
          <select name="category" required>
            <option value="Action & Adventure" >Action & Adventure</option>
            <option value="Arcade" >Arcade</option>
            <option value="Board & Card" >Board & Card</option>
            <option value="Arcade" >Casino & Gambling</option>
            <option value="Educational" >Educational</option>
            <option value="Family & Kids" >Family & Kids</option>
            <option value="Music & Rhythm" >Music & Rhythm</option>
            <option value="Puzzle" >Puzzle</option>
            <option value="Racing" >Racing</option>
            <option value="Role Playing" >Role Playing</option>
            <option value="Simulation" >Simulation</option>
            <option value="Sports" >Sports</option>
            <option value="Strategy" >Strategy</option>
            <option value="Trivia & Word">Trivia & Word</option>
          </select>
        </div>
        <input class="fileSubmit" value="Post It!" type="submit">
      </div>
    </form>
  </div>
</div>

<!-- Edit Settings Modal -->
<div class="modal hide" id="settingsModal" >
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
    <h3 id="myModalLabel">Edit Settings</h3>
  </div>
  <div class="modal-body">
    <form id="editSettings">
      <p class="error hidden" >Error: Somewhat set us up the bomb!</p>
       <!--<div class="modal_stack edit_field">
        <div class="modal_slice reset_password">
          <button type="button" disabled>Reset Password</button>
        </div>
        <div class="modal_slice deactivate_account">
          <button type="button" disabled>Deactivate Account</button>
        </div>
      </div>-->
      <div class="modal_stack edit_field">
        <label class="pswd">Change Password</label><input class="pswd" type="password" ng-model="set.password">
      </div>
      <div class="modal_stack edit_field">
        <label class="pswd">Confirm Change</label><input class="pswd" type="password" ng-model="set.confirm">
      </div>
      <div class="modal_stack edit_field">
        <label>Email</label><input type="text" placeholder="Email" ng-model="userEmail" disabled>
      </div>
      <div class="modal_stack edit_field">
        <label>Username</label><input type="text" placeholder="Email" ng-model="set.userName">
      </div>
      <div class="modal_stack edit_field">
        <label>Gender</label>
        <div class="gender_container clearfix">
          <label class="gender_label" for="1">Male</label><input id="1" class="gender_radio" type="radio" value="male" ng-model="set.gender">
          <label class="gender_label" for="2">Female</label><input id="2" class="gender_radio" type="radio" value="female" ng-model="set.gender">
          <label class="gender_label" for="3">Decline to State</label><input id="3" class="gender_radio" type="radio" value="decline" ng-model="set.gender">
        </div>
      </div>
      <div class="modal_stack edit_field">
        <div class="modal_stack save_settings">
          <button type="button" ng-click="editSettings()" data-dismiss="modal">Save Changes</button>
        </div>
      </div>
    </form>
  </div>
</div>

<!-- Alert Container Template -->
<div id="alertContainer" style="display: none">
  <div id="masterAlert" class="alert" >
    <button type="button" class="close" ng-click="hideNotify(); log(notify.message);">&times;</button>
    <strong id="notify_status" >Success</strong><p id="notify_message"></p>
  </div>
</div>

<!-- View List of Elements - 1 -->
<div class="modal hide" id="viewList" >
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
    <h3 id="myModalLabel">View List</h3>
  </div>
  <div class="modal-body">
    <div class="modal_stack">Modal List Element</div>
    <div class="modal_stack">Modal List Element</div>
    <div class="modal_stack">Modal List Element</div>
    <div class="modal_stack">Modal List Element</div>
    <div class="modal_stack">Modal List Element</div>
    <div class="modal_stack">Modal List Element</div>
    <div class="modal_stack">Modal List Element</div>
    <div class="modal_stack">Modal List Element</div>
    <div class="modal_stack">Modal List Element</div>
  </div>
</div>

<!-- View List of Elements - 2 -->
<div class="modal hide" id="viewList_2" >
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
    <h3 id="myModalLabel">View List</h3>
  </div>
  <div class="modal-body">
    <div class="modal_slice">Modal List Element</div>
    <div class="modal_slice">Modal List Element</div>
    <div class="modal_slice">Modal List Element</div>
    <div class="modal_slice">Modal List Element</div>
    <div class="modal_slice">Modal List Element</div>
    <div class="modal_slice">Modal List Element</div>
    <div class="modal_slice">Modal List Element</div>
    <div class="modal_slice">Modal List Element</div>
    <div class="modal_slice">Modal List Element</div>
    <div class="modal_slice">Modal List Element</div>
    <div class="modal_slice">Modal List Element</div>
    <div class="modal_slice">Modal List Element</div>
    <div class="modal_slice">Modal List Element</div>
    <div class="modal_slice">Modal List Element</div>
    <div class="modal_slice">Modal List Element</div>
    <div class="modal_slice">Modal List Element</div>
    <div class="modal_slice">Modal List Element</div>
    <div class="modal_slice">Modal List Element</div>
    <div class="modal_slice">Modal List Element</div>
    <div class="modal_slice">Modal List Element</div>
    <div class="modal_slice">Modal List Element</div>
    <div class="modal_slice">Modal List Element</div>
    <div class="modal_slice">Modal List Element</div>
    <div class="modal_slice">Modal List Element</div>
    <div class="modal_slice">Modal List Element</div>
    <div class="modal_slice">Modal List Element</div>
    <div class="modal_slice">Modal List Element</div>
    <div class="modal_slice">Modal List Element</div>
    <div class="modal_slice">Modal List Element</div>
    <div class="modal_slice">Modal List Element</div>
    <div class="modal_slice">Modal List Element</div>
    <div class="modal_slice">Modal List Element</div>
    <div class="modal_slice">Modal List Element</div>
    <div class="modal_slice">Modal List Element</div>
    <div class="modal_slice">Modal List Element</div>
    <div class="modal_slice">Modal List Element</div>
    <div class="modal_slice">Modal List Element</div>
    <div class="modal_slice">Modal List Element</div>
    <div class="modal_slice">Modal List Element</div>
    <div class="modal_slice">Modal List Element</div>
    <div class="modal_slice">Modal List Element</div>
    <div class="modal_slice">Modal List Element</div>
    <div class="modal_slice">Modal List Element</div>
    <div class="modal_slice">Modal List Element</div>
    <div class="modal_slice">Modal List Element</div>
    <div class="modal_slice">Modal List Element</div>
    <div class="modal_slice">Modal List Element</div>
    <div class="modal_slice">Modal List Element</div>
  </div>
</div>

<!-- Feedback Modal -->
<div class="modal hide" id="feedbackModal" >
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
    <h3 id="myModalLabel">User Feedback</h3>
  </div>
  <div class="modal-body">
    <div class="modal_stack intro_text"> Let us hear what you have to say! </div>
    <div class="modal_stack text_content">
      <div class="modal_slice content_opts">
        <input class="subject" placeholder="topic" type="text">
      </div>
      <div class="modal_slice content_opts">
        <button class="submit" disabled>Submit</button>
      </div>
      <div class="modal_stack content_txt">
        <textarea class="modal_stack" placeholder="feedback"></textarea>
      </div>
      <!-- <textarea class="modal_stack"></textarea>-->
    </div>
  </div>
</div>