<!-- row 1 -->
<div class="store_pin">
  <div class="store_container">
    <p class="game_name"><b>The Dark Knight Rises</b></p>
    <div class="game_price">$1.99</div>
  </div>
  <a class="view_trigger" ng-click="viewStorePin()">
    <div class="carousel slide myCarousel_1">
      <p class="fav_game hidden"><img src="<%= rootPath %>/images/heart.jpg"/>Add to Favorites</p>
      <p class="fav_friends hidden"><img src="<%= rootPath %>/images/heart.jpg"/>3 friend Favorited</p>
      <!-- Carousel items -->
      <div class="carousel-inner">
        <div class="active item"><img src="<%= rootPath %>/images/game_images/store_img1.png" width="200" /></div>
        <div class="item"><img src="<%= rootPath %>/images/game_images/bat2.png" width="200" /></div>
        <div class="item"><img src="<%= rootPath %>/images/game_images/bat3.png" width="200" /></div>
        <div class="item"><img src="<%= rootPath %>/images/game_images/bat4.png" width="200" /></div>
      </div>
      <!-- Carousel nav -->
      <a class="carousel-control left hidden" target="_self" href=".myCarousel_1" data-slide="prev">&lsaquo;</a>
      <a class="carousel-control right hidden" target="_self" href=".myCarousel_1" data-slide="next">&rsaquo;</a>
    </div>
  </a>
  <div class="store_container">
    <p class="download_btn">Download</p>
  </div>
</div>
<div class="store_pin">
  <div class="store_container">
    <p class="game_name"><b>The Dark Knight Rises</b></p>
    <div class="game_price">$1.99</div>
  </div>
  <a class="view_trigger" ng-click="viewStorePin()">
    <div class="carousel slide myCarousel_2">
      <p class="fav_game hidden"><img src="<%= rootPath %>/images/heart.jpg"/>Add to Favorites</p>
      <p class="fav_friends hidden"><img src="<%= rootPath %>/images/heart.jpg"/>3 friend Favorited</p>
      <!-- Carousel items -->
      <div class="carousel-inner">
        <div class="active item"><img src="<%= rootPath %>/images/game_images/store_img1.png" width="200" /></div>
        <div class="item"><img src="<%= rootPath %>/images/game_images/bat2.png" width="200" /></div>
        <div class="item"><img src="<%= rootPath %>/images/game_images/bat3.png" width="200" /></div>
        <div class="item"><img src="<%= rootPath %>/images/game_images/bat4.png" width="200" /></div>
      </div>
      <!-- Carousel nav -->
      <a class="carousel-control left hidden" target="_self" href=".myCarousel_2" data-slide="prev">&lsaquo;</a>
      <a class="carousel-control right hidden" target="_self"  href=".myCarousel_2" data-slide="next">&rsaquo;</a>
    </div>
  </a>
  <div class="store_container">
    <p class="download_btn">Download</p>
  </div>
</div>
<div class="store_pin">
  <p class="fav_game hidden"><img src="<%= rootPath %>/images/heart.jpg"/>Add to Favorites</p>
  <p class="fav_friends hidden"><img src="<%= rootPath %>/images/heart.jpg"/>3 friend Favorited</p>
  <div class="store_container">
    <p class="game_name"><b>Minecraft - Pocket Edition</b></p>
    <div class="game_price">free</div>
  </div>
  <a class="view_trigger" href="#viewPinModal" data-toggle="modal" data-dynamic="true">
    <img class="game_img" src="<%= rootPath %>/images/game_images/store_img2.png" width="200"/>
  </a>
  <div class="store_container">
    <p class="download_btn">Download</p>
  </div>
</div>
<div class="store_pin">
  <p class="fav_game hidden"><img src="<%= rootPath %>/images/heart.jpg"/>Add to Favorites</p>
  <p class="fav_friends hidden"><img src="<%= rootPath %>/images/heart.jpg"/>3 friend Favorited</p>
  <div class="game_options hidden">
    <a class="like_btn">Like</a>
    <a class="pin_btn">Repin</a>
    <a class="comment_btn" href="#c1">Comment</a>
  </div>
  <div class="store_container">
    <p class="game_name"><b>Great Big War Game</b></p>
    <div class="game_price">$4.99</div>
  </div>
  <a class="view_trigger" href="#viewPinModal" data-toggle="modal" data-dynamic="true">
    <img class="game_img" src="<%= rootPath %>/images/game_images/store_img3.png" width="200"/>
  </a>
  <div class="store_container">
    <p class="download_btn">Download</p>
  </div>
</div>
<div class="store_pin">
  <p class="fav_game hidden"><img src="<%= rootPath %>/images/heart.jpg"/>Add to Favorites</p>
  <p class="fav_friends hidden"><img src="<%= rootPath %>/images/heart.jpg"/>3 friend Favorited</p>
  <div class="store_container">
    <p class="game_name"><b>Angry Birds Space Premium</b></p>
    <div class="game_price">coming soon</div>
  </div>
  <a class="view_trigger" href="#viewPinModal" data-toggle="modal" data-dynamic="true">
    <img class="game_img" src="<%= rootPath %>/images/game_images/store_img4.png" width="200"/>
  </a>
  <div class="store_container">
    <p class="download_btn">Download</p>
  </div>
</div>
<div class="store_pin">
  <p class="fav_game hidden"><img src="<%= rootPath %>/images/heart.jpg"/>Add to Favorites</p>
  <p class="fav_friends hidden"><img src="<%= rootPath %>/images/heart.jpg"/>3 friend Favorited</p>
  <div class="store_container">
    <p class="game_name"><b>Cut the Rope</b></p>
    <div class="game_price">$0.99</div>
  </div>
  <a class="view_trigger" href="#viewPinModal" data-toggle="modal" data-dynamic="true">
    <img class="game_img" src="<%= rootPath %>/images/game_images/store_img5.png" width="200"/>
  </a>
  <div class="store_container">
    <p class="download_btn">Download</p>
  </div>
</div>
<!-- row 2 -->
<div class="store_pin">
  <div class="store_container">
    <p class="game_name"><b>The Dark Knight Rises</b></p>
    <div class="game_price">$1.99</div>
  </div>
  <a class="view_trigger" href="#viewPinModal" data-toggle="modal" data-dynamic="true">
    <img class="game_img" src="<%= rootPath %>/images/game_images/store_img1.png" width="200"/>
  </a>
  <div class="store_container">
    <p class="download_btn">Download</p>
  </div>
</div>
<div class="store_pin">
  <div class="store_container">
    <p class="game_name"><b>Minecraft - Pocket Edition</b></p>
    <div class="game_price">free</div>
  </div>
  <a class="view_trigger" href="#viewPinModal" data-toggle="modal" data-dynamic="true">
    <img class="game_img" src="<%= rootPath %>/images/game_images/store_img2.png" width="200"/>
  </a>
  <div class="store_container">
    <p class="download_btn">Download</p>
  </div>
</div>
<div class="store_pin">
  <div class="game_options hidden">
    <a class="like_btn">Like</a>
    <a class="pin_btn">Repin</a>
    <a class="comment_btn" href="#c1">Comment</a>
  </div>
  <div class="store_container">
    <p class="game_name"><b>Great Big War Game</b></p>
    <div class="game_price">$4.99</div>
  </div>
  <a class="view_trigger" href="#viewPinModal" data-toggle="modal" data-dynamic="true">
    <img class="game_img" src="<%= rootPath %>/images/game_images/store_img3.png" width="200"/>
  </a>
  <div class="store_container">
    <p class="download_btn">Download</p>
  </div>
</div>
<div class="store_pin">
  <div class="store_container">
    <p class="game_name"><b>Angry Birds Space Premium</b></p>
    <div class="game_price">coming soon</div>
  </div>
  <a class="view_trigger" href="#viewPinModal" data-toggle="modal" data-dynamic="true">
    <img class="game_img" src="<%= rootPath %>/images/game_images/store_img4.png" width="200"/>
  </a>
  <div class="store_container">
    <p class="download_btn">Download</p>
  </div>
</div>
<div class="store_pin">
  <div class="store_container">
    <p class="game_name"><b>Cut the Rope</b></p>
    <div class="game_price">$0.99</div>
  </div>
  <a class="view_trigger" href="#viewPinModal" data-toggle="modal" data-dynamic="true">
    <img class="game_img" src="<%= rootPath %>/images/game_images/store_img5.png" width="200"/>
  </a>
  <div class="store_container">
    <p class="download_btn">Download</p>
  </div>
</div>
<!-- row 3 -->
<div class="store_pin">
  <div class="store_container">
    <p class="game_name"><b>The Dark Knight Rises</b></p>
    <div class="game_price">$1.99</div>
  </div>
  <a class="view_trigger" href="#viewPinModal" data-toggle="modal" data-dynamic="true">
    <img class="game_img" src="<%= rootPath %>/images/game_images/store_img1.png" width="200"/>
  </a>
  <div class="store_container">
    <p class="download_btn">Download</p>
  </div>
</div>
<div class="store_pin">
  <div class="store_container">
    <p class="game_name"><b>Minecraft - Pocket Edition</b></p>
    <div class="game_price">free</div>
  </div>
  <a class="view_trigger" href="#viewPinModal" data-toggle="modal" data-dynamic="true">
    <img class="game_img" src="<%= rootPath %>/images/game_images/store_img2.png" width="200"/>
  </a>
  <div class="store_container">
    <p class="download_btn">Download</p>
  </div>
</div>
<div class="store_pin">
  <div class="game_options hidden">
    <a class="like_btn">Like</a>
    <a class="pin_btn">Repin</a>
    <a class="comment_btn" href="#c1">Comment</a>
  </div>
  <div class="store_container">
    <p class="game_name"><b>Great Big War Game</b></p>
    <div class="game_price">$4.99</div>
  </div>
  <a class="view_trigger" href="#viewPinModal" data-toggle="modal" data-dynamic="true">
    <img class="game_img" src="<%= rootPath %>/images/game_images/store_img3.png" width="200"/>
  </a>
  <div class="store_container">
    <p class="download_btn">Download</p>
  </div>
</div>
<div class="store_pin">
  <div class="store_container">
    <p class="game_name"><b>Angry Birds Space Premium</b></p>
    <div class="game_price">coming soon</div>
  </div>
  <a class="view_trigger" href="#viewPinModal" data-toggle="modal" data-dynamic="true">
    <img class="game_img" src="<%= rootPath %>/images/game_images/store_img4.png" width="200"/>
  </a>
  <div class="store_container">
    <p class="download_btn">Download</p>
  </div>
</div>
<div class="store_pin">
  <div class="store_container">
    <p class="game_name"><b>Cut the Rope</b></p>
    <div class="game_price">$0.99</div>
  </div>
  <a class="view_trigger" href="#viewPinModal" data-toggle="modal" data-dynamic="true">
    <img class="game_img" src="<%= rootPath %>/images/game_images/store_img5.png" width="200"/>
  </a>
  <div class="store_container">
    <p class="download_btn">Download</p>
  </div>
</div>
