<!-- This is the view of another user's profile -->

<div id="profile_col">
  <div id="profile_header">PROFILE</div>
  <div class="left_container">
    <div class="left_padding" style="position:relative">
      <div class="profile_pic">
        <img src="{{user.profileImg || '<%= rootPath %>/images/160x160.gif'}}" width="165" height="165"/>
      </div>
      <div class="profile_xp">
        <span class="curr_level">Level {{user.level || 1}}</span>
        <span class="to_level">{{user.nextXP || 99}}XP to level</span>
      </div>
      <div class="xp_bar clearfix">
        <span class="xp_gained">
        </span>
        <span class="xp_remaining">
        </span>
      </div>
    </div>
  </div>
  <div class="right_container">
    <div class="right_padding">
      <p class="profile_name">{{user.username}}</p>
      <p class="bio_text">{{user.bio}}</p>
      <textarea class="bio_txtarea hidden" rows="4" maxlength="400">Click here to add bio text
      </textarea>
      <div class="bio_opts_container hidden">
        <p class="bio_opts">400 remaining</p>
      </div>
      <div class="social_media">
        <a href="" ng-show="user.fbConnect">Facebook Page</a>
      </div>
    </div>
  </div>
  <div id="people_container">
    <div id="people_header"> {{user.followerUnit.length}} FOLLOWERS</div>
    <div class="bot_container">
      <div class="comrade_tabs">
        <button ng-show="!isFollowing" id="follow_user" ng-click="follow(user.username)">Follow</button>
        <!--<button ng-show="isFollowing" id="follow_user" ng-click="unfollow(user.username)" >unFollow</button>-->
        <button ng-show="isFollowing" id="follow_user" disabled>Follow</button>
      </div>
      <a ng-repeat="follower in user.followerUnit" href="/user/{{follower.name}}"><img title="{{follower.name}}" src="{{follower.image || '<%= rootPath %>/images/30x30.gif'}}" width="40px" height="40px"/></a>
      <!--<a href="/user/test"><img title="test" width="40px" height="40px" src="{{following.image || '<%= rootPath %>/images/30x30.gif'}}"/></a>-->
    </div>
  </div>
  <div id="footer_container">
    <div id="profile_footer">
      <div id="view_groups" ng-click="toggleCategories()">Groups<b class="caret"></b>
        <ul class="dropdown-menu two_col_dropdown">
          <div class="col1">
            <li ng-repeat="(key,val) in groupPins" ng-click="showGroup(key)">
              <a href="#">{{ key }}</a>
            </li>
          </div>
        </ul>
      </div>
      <div>My Posts</div>
      <div>Liked Posts</div>
      <div ng-click="showActivity()">Activity</div>
    </div>
  </div>
</div>
<div id="badge_col">
  <div id="badge_header">BADGES</div>
  <div class="badge_chest">
    <img src="<%= rootPath %>/images/misc_images/badge1.png" width="60"/>
  </div>
</div>
<div id="following_col">
  <div id="following_header">{{user.followingUnit.length}} FOLLOWING</div>
  <div class="badge_chest">
    <a ng-repeat="following in user.followingUnit" href="/user/{{following.name}}"><img title="{{following.name}}" src="{{following.image || '<%= rootPath %>/images/30x30.gif'}}"  width="40px" height="40px"/></a>
    <!--<a href="/user/test"><img title="test" width="40px" height="40px" src="{{following.image || '<%= rootPath %>/images/30x30.gif'}}"/></a>-->
  </div>
</div>
<div id="profile_data">
  <div id="profile_data_inner" class="clearfix">
    <div ng-repeat="pin in showPins" class="game_pin" sample-done>
      <a class="view_trigger" ng-click="viewGamePin()">
        <img class="game_img" src="{{pin.sourceUrl}}" width="220"/>
      </a>
      <div class="pin_footer">
        <p class="game_description">{{pin.description}}</p>
        <p class="game_attributes">
          <span>{{pin.likedBy.length}} likes</span>&nbsp;&nbsp;<span>{{pin.comments.length}} comments</span>
        </p>
      </div>
    </div>
  </div>
</div>