<div id="subnav_content">
  <a>Following</a>
  <div class="dropdown_tab">
    <a class="dropdown-toggle" data-toggle="dropdown" href="About.html">
      Categories
      <b class="caret"></b>
    </a>
      <ul class="dropdown-menu two_col_dropdown">
        <div class="col1">
          <li>
            <a data-toggle="dropdown" ng-click="catSearch('Action & Adventure')"><img src="<%= rootPath %>/images/caticon-action22x22.png" width="22" height="22">Action & Adventure</a>
          </li>
          <li>
            <a data-toggle="dropdown" ng-click="catSearch('Arcade')"><img src="<%= rootPath %>/images/caticon-arcade22x22.png" width="22" height="22">Arcade</a>
          </li>
          <li>
            <a data-toggle="dropdown" ng-click="catSearch('Board & Card')"><img src="<%= rootPath %>/images/caticon-card22x22.png" width="22" height="22">Board & Card</a>
          </li>
          <li>
            <a data-toggle="dropdown" ng-click="catSearch('Casino & Gambling')"><img src="<%= rootPath %>/images/caticon-casino22x22.png" width="22" height="22">Casino & Gambling</a>
          </li>
          <li>
            <a data-toggle="dropdown" ng-click="catSearch('Educational')"><img src="<%= rootPath %>/images/caticon-educational22x22.png" width="22" height="22">Educational</a>
          </li>
          <li>
            <a data-toggle="dropdown" ng-click="catSearch('Family & Kids')"><img src="<%= rootPath %>/images/caticon-family22x22.png" width="22" height="22">Family & Kids</a>
          </li>
          <li>
            <a data-toggle="dropdown" ng-click="catSearch('Music & Rhythm')"><img src="<%= rootPath %>/images/caticon-music22x22.png" width="22" height="22">Music & Rhythm</a>
          </li>
        </div>
        <div class="col2">
          <li>
            <a data-toggle="dropdown" ng-click="catSearch('Puzzle')"><img src="<%= rootPath %>/images/caticon-puzzle22x22.png" width="22" height="22">Puzzle</a>
          </li>
          <li>
            <a data-toggle="dropdown" ng-click="catSearch('Racing')"><img src="<%= rootPath %>/images/caticon-racing22x22.png" width="22" height="22">Racing</a>
          </li>
          <li>
            <a data-toggle="dropdown" ng-click="catSearch('Role Playing')"><img src="<%= rootPath %>/images/caticon-rpg22x22.png" width="22" height="22">Role Playing</a>
          </li>
          <li>
            <a data-toggle="dropdown" ng-click="catSearch('Simulation')"><img src="<%= rootPath %>/images/caticon-simulation22x22.png" width="22" height="22">Simulation</a>
          </li>
          <li>
            <a data-toggle="dropdown" ng-click="catSearch('Sports')"><img src="<%= rootPath %>/images/caticon-sports22x22.png" width="22" height="22">Sports</a>
          </li>
          <li>
            <a data-toggle="dropdown" ng-click="catSearch('Strategy')"><img src="<%= rootPath %>/images/caticon-strategy22x22.png" width="22" height="22">Strategy</a>
          </li>
          <li>
            <a data-toggle="dropdown" ng-click="catSearch('Trivia & Word')"><img src="<%= rootPath %>/images/caticon-trivia22x22.png" width="22" height="22">Trivia & Word</a>
          </li>
        </div>
    </ul>
  </div>
  <a>Popular</a>
  <!--<a href="/store">Store</a>-->
  <a>Store</a>
</div>
<!--<div class="register_now" ng-show="!loggedIn">
  <div class="register_inner">
    <img ng-click="promptRegister()" src="<%= rootPath %>/images/UI/JoinQ_GREEN_effects.png" />
    <p id="register_btn">Register with Quyay now!</p>
  </div>
</div>-->